body {
  background-color: green;
  box-sizing: border-box;
}
.card {
  background-color: white;
  display: inline-block;
  margin: auto;
  padding: 80px;
  padding-top: 180px;
  width: 210px;
  height: 200px;
  border-radius: 15px;
  position: relative;
  font-size: 70px;
  text-align: center;
}
.card:before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 70px;
}
.card:after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 70px;
}

.card.heart:before,
.card.heart:after {
  content: "\2665";
  color: red;
}
.card.spade:before,
.card.spade:after {
  content: "\2660";
  color: black;
}
.card.diamond:before,
.card.diamond:after {
  content: "\2666";
}
.card.club:before,
.card.club:after {
  content: "\2663";
}
